<div class="container sm">
  <%= simple_form_for [event, budget] do |f| %>
    <%= f.input :flights %>
    <%= f.input :transport %>
    <%= f.input :accommodation %>
    <%= f.input :eating_out %>
    <%= f.input :entertainment %>
    <%= f.input :activities %>
    <%= f.input :shopping %>
    <%= f.input :emergency %>
    <%= f.submit class: "btn btn-primary btn-sm" %>
    <%= link_to "Back", event_path(event), class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>
