<div class="container-sm">
  <div class="container-sm mb-5">
  <h2><strong><%= "Hello #{current_user.first_name}!" %></strong></h2>
  </div>

  <div class="container-sm">
  <h3><strong>Your Trips</strong></h3>
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "link" do %>
        <div class="card-trip mt-2 mb-3">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= event.name %></h2>
              <p><%= event.description %></p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>
</div>
