<div class="container-sm">
  <div class="container-sm mb-3">
  <h2><strong><%= "Hello #{current_user.first_name}!" %></strong></h2>
  </div>

  <div class="container-sm">
    <div class="d-flex mb-1">
      <div class="me-auto p-2">
        <h5><strong>Your Trips</strong></h5>
      </div>
      <div class="p-2">
          <%= link_to "Add Trip", new_event_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "link" do %>
        <div class="card-trip mb-3">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
                <h6><%= event.name %></h6>
                <p><%= event.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
