<div class="container-sm">
  <div class="container-sm mb-3 mt-2 greeting">
  <h2><%= "Hello #{current_user.first_name}!" %></h2>
  </div>

  <div class="container-sm">
    <div class="section d-flex mb-1 align-items-center">
      <div class="me-auto p-2">
        <h5>Your Trips</h5>
      </div>
      <div class="p-2">
        <%= link_to icon('fa-solid', 'plus'), new_event_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "link" do %>
        <div class="card-trip mb-3">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
                <h6><%= event.name %></h6>
                <p><%= event.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
