<div class="container sm mb-3">
  <h3><strong><%= @event.name %></strong></h3>
  <h6><%= @event.description %></h6>
  <p><%= "#{@event.start_date.strftime('%b %d, %Y')} to #{@event.end_date.strftime('%b %d, %Y')}" %></p>

  <div class="card mb-1">
    <div class="d-flex bd-highlight justify-content-start align-items-center mb-2">
      <div class="p-2 flex-grow-1 bd-highlight">
        <h5>💵 Spending</h5>
      </div>
      <div class="p-2 bd-highlight">
        <span>
          <strong><%= "Expenses: #{@event.currency} #{@event.expenses.sum(:amount)}" %></strong>
        <br>
          <p class="card-text">
            <small class="text-muted"><%= "Budget: #{@event.currency} #{@event.budget}" %></small>
          </p>
        </span>
      </div>
    </div>
  </div>

  <div class="card mb-1">
    <div class="d-flex bd-highlight justify-content-start align-items-center mb-2">
      <div class="p-2 flex-grow-1 bd-highlight">
        <h5>⏰ Daily Allowance</h5>
      </div>
      <div class="p-2 bd-highlight">
        <span>
          <strong><%="#{@event.currency} #{@daily_budget} per day"%></strong>
        <br>
          <p class="card-text">
            <small class="text-muted">
            <%="#{@days_left} days left"%>
            </small>
          </p>
        </span>
      </div>
    </div>
  </div>
  <%= link_to "Back to My Events", my_events_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-secondary btn-sm" %>
  <%= link_to "Delete", event_path(@event),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
</div>

<div class="container sm mb-3">
  <div class="d-flex mb-1">
    <div class="me-auto p-2">
      <h5><strong>Budget</strong></h5>
    </div>
    <div class="p-2">
      <% if @event.budgets.exists? %>
        <%= link_to "Edit Budget", edit_event_budget_path(@event, @event.budgets.first), class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
  </div>
  <ul class="list-group">
  <% @event.budgets.each do |budget| %>
    <% budget.attributes.sort.each do |category, amount| %>
      <% if @excluded_categories.exclude?(category) %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= label_tag category.capitalize %>
          <span class="badge bg-dark">
            <%= "#{@event.currency} #{amount}" %>
          </span>
        </li>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container sm mb-3">
  <h5><strong>Budget vs Expenses</strong></h5>
  <div id="chart" class="container mb-3">
    <%= bar_chart [
    { name: "My Budget", data: @budget_totals },
    { name: "My Expenses", data: @clean_sort }
    ], overlap: true, library: {title: 'Side-by-Side Bar Chart', colors: ['#B2F', '#000']} %>
  </div>
</div>

<div class="container mb-3">
  <div class="d-flex">
    <div class="me-auto">
      <h5><strong>Transactions</strong></h5>
    </div>
    <div>
      <%= link_to "Add transaction", new_event_expense_path(@event), class: "link text-primary" %>
    </div>
  </div>
  <% @event.expenses.each do |expense| %>
    <div class="transaction d-flex bd-highlight justify-content-start align-items-center mb-2">
      <div class="p-2 bd-highlight">
        <%= "#{Budget.human_attribute_name(expense.category)}" %>
      </div>
      <div class="p-2 flex-grow-1 bd-highlight">
        <span>
          <%= expense.description %>
        <br>
          <p class="card-text">
            <small class="text-muted">Date Placeholder</small>
          </p>
        </span>
      </div>
      <div class="p-2 bd-highlight">
        <span class="badge bg-dark">
          <%= "#{@event.currency} #{expense.amount}" %>
          <%= link_to "🖋️", edit_event_expense_path(@event, expense), class: "btn btn-sm" %>
          <%= link_to "X", event_expense_path(@event, expense),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
        </span>
      </div>
    </div>
  <% end %>
</div>
