<h2><%= @event.name %></h2>
<p><%= @event.description %></p>
<p><%= @event.people %></p>
<p><%= @event.start_date %></p>
<p><%= @event.end_date %></p>
<p><%= @event.budget %></p>
<p><%= @event.currency %></p>
