<div class="container sm">
  <%= simple_form_for [event, expense] do |f| %>
    <%= f.input :description, as: :text %>
    <%= f.input :category, collection: (Budget.all_columns)  %>
    <%= f.input :amount %>
    <%= f.input :participants %>
    <%= f.submit "Add expense", class: "btn btn-primary" %>
  <% end %>
  <%= link_to event_path(event), class: "btn btn-secondary link" %>
</div>
