<div class="container sm">
  <%= simple_form_for [event, expense] do |f| %>
    <%= f.input :description, as: :text %>
    <%= f.input :category, collection: (Budget.all_columns)  %>
    <%= f.input :amount %>
    <%= f.input :participants %>
    <%= f.input :date %>
    <%= f.submit "Add expense", class: "btn btn-primary btn-sm" %>
    <%= link_to "Back", event_path(event), class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>
